.role_menu{
    padding: 0px;
}
.role_menu li{
    
}
.role_menu >li{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.role_menu >li:last-child{
    border-bottom: 0px;
}
.role_menu  li ul{
    padding-left: 25px;
}
.role_menu  li ul li{}
.role_menu  li ul li .menu{
    width: 20%;
    float: left;
}
.role_menu  li ul li .permission{}
.role_menu  li ul li .permission label{
    color: green !important;
    margin-right: 15px;
}
.role_menu  li ul li .menu label{
    color: blue;
}
fieldset.permission{

}
fieldset.permission legend{
    border: 0px;
    font-size: 15px;
    font-weight: 100;
}
fieldset.menu{

}
fieldset.menu legend{
    border: 0px;
    font-size: 15px;
    font-weight: 100;
}
.programinfo{
 text-align: center;
}
.programinfo:after{
    content: "";
    display: block;
    clear: both;
}
.programinfo_item{
    padding: 0px 5px;
    display: inline-block;
}
.programinfo_item span{
    font-size: 17px;
}
.applicant_info{
    padding: 25px 0px;
}
.applicant_info table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.applicant_info td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.customtable  tbody > tr > td{
    padding: 2px 8px !important;
}
.customtable .form-group{
     margin: 0px !important;
}
.customtable .form-control {
    height: 30px;
   padding: 3px 12px 6px !important;
}
.plushbtn th{
    position: relative;
}
.plushbtn th span{
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn th span::before{
    content: "";
    display: block;
    background-color: #000000;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn th span::after{
    content: "";
    display: block;
    background-color: #000000;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn td{
    position: relative;
}
.plushbtn td span{
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn td span::before{
    content: "";
    display: block;
    background-color: red;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.markentry-form{
    margin-top: 25px;
}