.role_menu{
    padding: 0px;
}
.role_menu li{
    
}
.role_menu >li{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.role_menu >li:last-child{
    border-bottom: 0px;
}
.role_menu  li ul{
    padding-left: 25px;
}
.role_menu  li ul li{}
.role_menu  li ul li .menu{
    width: 20%;
    float: left;
}
.role_menu  li ul li .permission{}
.role_menu  li ul li .permission label{
    color: green !important;
    margin-right: 15px;
}
.role_menu  li ul li .menu label{
    color: blue;
}
fieldset.permission{

}
fieldset.permission legend{
    border: 0px;
    font-size: 15px;
    font-weight: 100;
}
fieldset.menu{

}
fieldset.menu legend{
    border: 0px;
    font-size: 15px;
    font-weight: 100;
}
.programinfo{
 text-align: center;
}
.programinfo:after{
    content: "";
    display: block;
    clear: both;
}
.programinfo_item{
    padding: 0px 5px;
    display: inline-block;
}
.programinfo_item span{
    font-size: 17px;
}
.applicant_info{
    padding: 25px 0px;
}
.applicant_info table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.applicant_info td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.customtable  tbody > tr > td{
    padding: 2px 8px !important;
}
.customtable .form-group{
     margin: 0px !important;
}
.customtable .form-control {
    height: 30px;
   padding: 3px 12px 6px !important;
}
.plushbtn th{
    position: relative;
}
.plushbtn th span{
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn th span::before{
    content: "";
    display: block;
    background-color: #000000;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn th span::after{
    content: "";
    display: block;
    background-color: #000000;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn td{
    position: relative;
}
.plushbtn td span{
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.plushbtn td span::before{
    content: "";
    display: block;
    background-color: red;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.markentry-form{
    margin-top: 25px;
}
.star {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}
/* Academic institute */
.academic-transcript{
    border:3px solid #d9d9d9;
    width: 80%;
    margin: 0 auto;
}
.academic-transcript__heading{
    text-align: center;
    border-bottom:3px solid #d9d9d9;
}
.institute-logo{
    margin-bottom: 5px;
}
.institute-logo img{
    width: 110px;
    height: 110px;
}
.institute-title{
    margin-bottom: 15px;
}
.institute-title h2{
    margin: 0px;
}
.institute-title h3{
    margin: 0px;
}
.institute-title .institute-name{
    font-size: 35px;
    color: royalblue;
    font-weight: bold;
}
.institute-title .institute-add{
    font-size: 18px;
}
.institute-title .std-transcript{
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}
.institute-title .exam-name{
    color: green;
    font-weight: bold;
}
.academic-transcript__student{
    padding: 10px 0px;
}
.academic-transcript__student::after{
    content: "";
    display: block;
    clear: both;
}
.item{
    float: left;
    padding: 0px 15px;
}
.academic-transcript__student .student-img{
  width: 206px;
  height: 200px;
}
.academic-transcript__student .student-img img{
    width: 100%;
    height: 100%;
}
.academic-transcript__student .student-info{
    width: 50%;
    font-size: 20px;
    font-family: Segoe UI Semibold;
    font-weight: bold;
}
.academic-transcript__student .student-info .name{
    color: royalblue;
}
.academic-transcript__student .student-info table{
    width: 100%;
}
.academic-transcript__student .grade-letter{
    float: right;
}
.academic-transcript__student .grade-letter table{
    border: 3px solid #cccccc;
    margin-right: 8px;
    border-collapse: collapse
}
.academic-transcript__student .grade-letter table tr td{
    padding: 0px;
    border: 1px solid #cccccc;
    text-align: center;
}
.academic-transcript__result{
    padding: 0px 15px;
    margin-bottom: 15px;
}
.academic-transcript__result table{
    border: 3px solid #cccccc;
    margin-right: 8px;
    border-collapse: collapse;
    width: 100%;
}
.academic-transcript__result table tr th{

}
.academic-transcript__result table tr td{
    padding: 5px;
    border: 1px solid #cccccc;
}
.academic-transcript__grand-result{
    padding: 0px 15px;
}
.academic-transcript__grand-result::after{
    content: "";
    display: block;
    clear: both;
}
.academic-transcript__grand-result__left{
    float: left;
}
.academic-transcript__grand-result__right{
    float: right;
}
.academic-transcript__grand-result__left table{
    border: 3px solid #cccccc;
    margin-right: 8px;
    border-collapse: collapse;
    width: 100%;
}
.academic-transcript__grand-result__left table tr th{
    text-align: center;
}
.academic-transcript__grand-result__left table tr td{
    padding: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}
.academic-transcript__grand-result__right table{
    border: 3px solid #cccccc;
    margin-right: 8px;
    border-collapse: collapse;
    width: 100%;
}
.academic-transcript__grand-result__right table tr th{
    text-align: center;
}
.academic-transcript__grand-result__right table tr td{
    padding: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}
.academic-transcript__signature{
    padding: 0px 15px;
    margin-top: 25px;
}
.academic-transcript__signature::after{
    content: "";
    display: block;
    clear: both;
}
.class_tacher-signature{
    float: left;
}
.class_tacher-signature img{
    width: 150px;
    padding-bottom: 7px;
    border-bottom: 2px dashed #000;
}
.authorized-signature{
    float: right;
}
.authorized-signature img{
    width: 150px;
    padding-bottom: 7px;
    border-bottom: 2px dashed #000;
}
.academic-transcript__footer{
    /* margin-top: 15px; */
    padding: 15px 0px 15px 0px;
    border-top: 1px dashed #ccc;
}
.academic-transcript__footer p{
    text-align: center;
    margin: 0px;
}
.print-btn{
    cursor: pointer;
    color: #007bff;
    position: absolute;
    right: 20px;
    padding: 0px 5px;
    border-style: none;
    background: #ffffff;
    border: none;
}
.mearge{
    padding-top: 25px;
}
.academic-result{
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.academic-result__heading{
    border:0;
}
.position{
    margin-top:15px;
}
.position p{
    padding-left: 15px;
}
.fail_status{
    color:red !important;
}
.no_border{
    border: 0 !important;
}
.academic-transcripts{
    border:3px solid #d9d9d9;
    width: 80%;
    margin: 0 auto;
}
.no_margin{
    margin: 0;
}
.no_padding{
    padding:0px;
}
/* Tranfer certificate Style */
.transfer_certificate_wrapper{
    background: #ffffff;
    margin-left: -15px;
    margin-right: -15px;
    padding:25px 0px;
}
.transfer_certificate_wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.transfer_certificate{
    width: 400px;
    margin: 0px auto;
    margin-bottom: 25px;
}
.float-right{
    float: right;
}
.tc-envelope{
    margin:0px 50px;
    border: 1px dashed #000000;
    padding: 50px;

}
.institute-info{
    text-align: center;
}
.tc_heading{
    position: relative;
    margin-bottom: 25px;
}
.tc_heading .tc-headline{
    margin: 0px;
    text-align: center;
}
.tc-serial{
    position: absolute;
    left:0px;
    top: 8px;
}
.tc-date{
    position: absolute;
    top:8px;
    right: 0px;
}
.tc-desc{
    border:1px solid royalblue;
    padding: 20px;
    margin-bottom: 50px;
}
.tc-desc p.tc-para{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}
.tc-desc p.tm{
    font-size: 18px;
    margin: 0px;
}
.tc-desc p.bt-space{
    margin-bottom: 25px;
}
.tc-auth::after{
    content: "";
    display: block;
    clear: both;
}
.tc-auth .tc-auth_item p{
    font-size: 18px;
    margin: 0px;
}
.tc-auth_headmster{
    float: right;
}
.tc-top{
    top:10px;
    right: 50px;
}
.tc-msg{
    margin-right: 25px;
}